<!-- Clients Aside -->
    <aside class="clients">
        <div class="container">
            <div class="marquee">
                <div class="marquee-content">
                    <span> <img src="/img/cart.png" width="120" height="100" alt="Natural" /> </span>
                    <span><img src="/img/tractor.png" width="120" height="100" alt="Natural" /></span>
                    <span><img src="/img/four.png" width="120" height="100" alt="Natural" /></span>
                    <span><img src="/img/boat.png" width="120" height="100" alt="Natural" /></span>
                    <span><img src="/img/bike.png" width="120" height="100" alt="Natural" /></span>
                </div>
             </div>
        </div>
    </aside>