<!-- Clients Aside -->
    <aside class="clients">
        <div class="container">
            <!-- <div class="marquee">
                <div class="marquee-content">
                    <span> <img src="/img/cart.png" width="120" height="100" alt="Natural" /> </span>
                    <span><img src="/img/tractor.png" width="120" height="100" alt="Natural" /></span>
                    <span><img src="/img/four.png" width="120" height="100" alt="Natural" /></span>
                    <span><img src="/img/boat.png" width="120" height="100" alt="Natural" /></span>
                    <span><img src="/img/bike.png" width="120" height="100" alt="Natural" /></span>
                </div>
             </div> -->
             <div class="marquee">
                <div class="marquee__inner-wrap">
                  <div class="marquee__inner">
                    <span>Mowers</span>
                    <div class="marquee__img" style="background-image: '/img/cart.png'"></div>
                    <span>Tractors</span>
                    <div class="marquee__img" style="background-image: url(https://images.unsplash.com/photo-1589656966895-2f33e7653819?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=420&q=80)"></div>
                    <span>Boats</span>
                    <div class="marquee__img" style="background-image: url(https://images.unsplash.com/photo-1604429868519-8a64cb3b010b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=420&q=80)"></div>
                    <span>Golf Carts</span>
                    <div class="marquee__img" style="background-image: url(https://images.unsplash.com/photo-1534681534056-461f50de526f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=420&q=80)"></div>
                    <span aria-hidden="true">Mowers</span>
                    <div aria-hidden="true" class="marquee__img" style="background-image: url(https://images.unsplash.com/photo-1525382455947-f319bc05fb35?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=420&q=80)"></div>
                    <span aria-hidden="true">Tractors</span>
                    <div aria-hidden="true" class="marquee__img" style="background-image: url(https://images.unsplash.com/photo-1589656966895-2f33e7653819?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=420&q=80)"></div>
                    <span aria-hidden="true">Boats</span>
                    <div aria-hidden="true" class="marquee__img" style="background-image: url(https://images.unsplash.com/photo-1604429868519-8a64cb3b010b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=420&q=80)"></div>
                    <span aria-hidden="true">Golf Carts</span>
                    <div aria-hidden="true" class="marquee__img" style="background-image: url(https://images.unsplash.com/photo-1534681534056-461f50de526f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=420&q=80)"></div>
                  </div>
                </div>
            </div>
        </div>
    </aside>