<!-- Clients Aside -->
    <aside class="clients">
        <div class="container">
            <!-- <div class="marquee">
                <div class="marquee-content">
                    <span> <img src="/img/cart.png" width="120" height="100" alt="Natural" /> </span>
                    <span><img src="/img/tractor.png" width="120" height="100" alt="Natural" /></span>
                    <span><img src="/img/four.png" width="120" height="100" alt="Natural" /></span>
                    <span><img src="/img/boat.png" width="120" height="100" alt="Natural" /></span>
                    <span><img src="/img/bike.png" width="120" height="100" alt="Natural" /></span>
                </div>
             </div> -->
             <div class="marquee">
                <div class="marquee__inner-wrap">
                  <div class="marquee__inner">
                    <span>Mowers</span>
                    <div class="marquee__img" style="background-image:  url('{{ site.baseurl }}/img/tractor.png')"></div>
                    <span>Tractors</span>
                    <div class="marquee__img" style="background-image: url('{{ site.baseurl }}/img/four.png')"></div>
                    <span>Boats</span>
                    <div class="marquee__img" style="background-image: url('{{ site.baseurl }}/img/boat.png')"></div>
                    <span>Golf Carts</span>
                    <div class="marquee__img" style="background-image: url('{{ site.baseurl }}/img/cart.png')"></div>
                    <span aria-hidden="true">Mowers</span>
                    <div aria-hidden="true" class="marquee__img" style="background-image: url('{{ site.baseurl }}/img/tractor.png')"></div>
                    <span aria-hidden="true">Tractors</span>
                    <div aria-hidden="true" class="marquee__img" style="background-image: url('{{ site.baseurl }}/img/four.png')"></div>
                    <span aria-hidden="true">Boats</span>
                    <div aria-hidden="true" class="marquee__img" style="background-image: url('{{ site.baseurl }}/img/boat.png')"></div>
                    <span aria-hidden="true">Golf Carts</span>
                    <div aria-hidden="true" class="marquee__img" style="background-image: url('{{ site.baseurl }}/img/cart.png')"></div>
                  </div>
                </div>
            </div>
        </div>
    </aside>