<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Services</h2>
                    <h3 class="section-subheading text-muted"> </h3>               
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-wrench fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Engine Repair</h4>
                    <p class="text-muted">Can fix and diagnosis small vehicles/machines of all different varieties - including (but not limited to): mowers, golf carts, tractors, boats, and more!</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-car fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Transport</h4>
                    <p class="text-muted">No need to bring in your vehicle, I'll come to you! If the vehicle/machine needs to be moved to be worked on, I'll provide all transportation assistance needed.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-handshake-o fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Customer Satisfaction</h4>
                    <p class="text-muted">Check out my past work and Nextdoor reviews to see countless satisfied customers! Customers can expect trustworthiness, good communication, and a job well done!</p>
                </div>
            </div>
        </div>
    </section>